.DS_Store
.bsp/
.idea/
.metals/
.scala-build/
.vscode/

target/
project/target/
project/project/

generated/
simWorkspace/
test_run_dir/
spinalgpu/autoresearch-logs/*
!spinalgpu/autoresearch-logs/.gitkeep

*.vcd
*.fst
